<div>
  <div class="col-sm-3 col-md-3 col-lg-2 media default image-grid genre">
    <a>
      <div class="genreImage" [style.background-image]="'url(' + album.image + ')'" (click)="open()">
      </div>
    </a>
  </div>
</div>
