<!doctype html>
<html>
<head>
  <title>Music</title>
  <base href=".">
  <script src="vendor/systemjs/dist/system.src.js"></script>
  <script src="vendor/angular2/bundles/angular2.dev.js"></script>
  <script src="vendor/angular2/bundles/http.dev.js"></script>
  <script src="vendor/angular2/bundles/router.dev.js"></script>
  <link rel="stylesheet" href="vendor.css">
  {{content-for 'head'}}
  <script>
    System.config({
      packages: {
        app: {
          format: 'register',
          defaultExtension: 'js'
        }
      }
    });
    System.import('app.js').then(null, console.error.bind(console));
  </script>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
  <music-app>Loading...</music-app>
</body>
</html>
